<!doctype html>
<html>
  <head>
    <title>Ernie</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/pagepiling.js/jquery.pagepiling.css') }}">
  </head>
  <body>
    <div id="pagepiling">
      <div class="ernie section">
        <h1>Ernie</h1>
        <h2>
          We all know Siri<br>
          Meet <strong>Ernie</strong><br>
        </h2>
        <h3>Your friendly SMS sidekick</h3>
        <p>Scroll down<br>to learn more<br>&#x25BC;</p>
      </div>
      <div class="desc section">
        <h2>Who's Ernie?</h2>
        <p>
          Ernie is like Siri but you talk to him through SMS.<br>
          Yep, that's right. No internet? No problem!
        </p>
        <p>
          How's the weather in Baguio? Ask Ernie.<br>
          Is it traffic in EDSA? Ask Ernie.<br>
          How do you get from Makati to Marikina? Ask Ernie!
        </p>
        <p>
          Just send your question to 29290XXXX.<br>
          No keywords to remember, just one number to send to.
        </p>
      </div>
      <div class="demo section">
        <h2>Try Ernie</h2>
        <form action="{{ url_for('api_sms') }}" method="post">
          <input type="hidden" name="demo" value="1">
          <p><input type="text" name="message" placeholder="Question" size="80"></p>
          <p><button type="submit">Ask Ernie</button></p>
        </form>
        <div class="reply"></div>
      </div>
      <div class="video section">
        <iframe
        src="//player.vimeo.com/video/110969874?byline=0&amp;portrait=0&amp;color=ffffff"
        width="500" height="281" frameborder="0" webkitallowfullscreen
        mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="about section">
        <h2>Made by Kat and Steve</h2>
        <p>
          Ernie was "brought to life" by<br>
          Kat Padilla (<a href="https://twitter.com/katpadi">@katpadi</a>) and
          Mark Steve Samson (<a href="https://twitter.com/themarksteve">@themarksteve</a>)<br>
          as an entry to <a href="http://www.eventbrite.com/e/textify-the-chikka-api-challenge-tickets-12953681811">Textify</a>
          &mdash; Chikka's developer challenge
        </p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/pagepiling.js/jquery.pagepiling.min.js') }}"></script>
    <script>
      $(document).ready(function() {
        $('#pagepiling').pagepiling({
          navigation: {
            textColor: 'black',
            bulletsColor: 'black',
            position: 'right',
            tooltips: [
              "We all know Siri",
              "Who's Ernie?",
              "Try Ernie",
              "Video",
              "Made by Kat and Steve"
            ]
          }
        });
      });
      var $reply = $('.reply');
      var $btn = $('.demo button');
      $('.demo form').submit(function(e) {
        var $this = $(this);
        e.preventDefault();
        $.ajax({
          type: $this.attr('method'),
          url: $this.attr('action'),
          data: $this.serialize()
        }).done(function(res) {
          $reply.text("Ernie: " + res.message);
        }).always(function() {
          $btn
            .text("Ask Ernie")
            .prop('disabled', false);
        });
        $btn
          .text("Asking...")
          .prop('disabled', true);
      });
    </script>
  </body>
</html>
