<!doctype html>
<html>
  <head>
    <title>Ernie</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="page">
      <h1>Ernie</h1>
      <p>Kung hindi mo alam, itanong kay Ernie.</p>
      <p>I-send lang ang inyong katanungan sa numerong:</p>
      <div class="number">
        29290 ERNIE<br>
        37643
      </div>
    </div>
  </body>
</html>
