<!doctype html>
<html>
  <head>
    <title>Ernie</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="page">
      <h1>Ernie</h1>
      <h2>No net, no problem!</h2>
      <p>Ernie is an sms-based personal assistant that gives you various information from the web without having a net. Both input and output are via SMS. It uses natural language as input instead of the traditional "keywords" that you have to memorize so it’s less confusing. The output ranges from Point A to Point B directions, traffic situation, random questions, complex calculations and weather conditions & forecast.</p>
      <p>...BECAUSE KNOWLEDGE IS POWER!</p>
      <p>Just send your "query" to:</p>
      <div class="number">
        29290XXXX (contact us for the access code)
      </div>
      <div class="features">
        <h3>Features</h3>
      </div>
    </div>
  </body>
</html>
